MYSQL_ROOT_PASSWORD=root_secret
MYSQL_DATABASE=mkk
MYSQL_USER=mkk
MYSQL_PASSWORD=mkk_secret
MYSQL_PORT=3306

# Сеть Docker для Traefik (должна совпадать с сетью, где запущены frontend/backend/grafana и т.д.)
DOCKER_NETWORK_NAME=tmkk
